{% extends 'menu.html.twig' %}
{% block title %}Livraison{% endblock %}



{% block shop_content %}
<header class="mb-4">
    <h1>Livraison</h1>
</header>

{{ form_start(form, { 'attr': { 'id': 'form' } })  }}
    {% for shippingMethod in form.shippingMethod %}
        {% set index = shippingMethod.vars.value %}
        {% set entity = form.shippingMethod.vars.choices[index].data %}
        {% if entity.fee == 0 %}
            {% set label = entity.name ~ ' gratuit' %}
        {% else %}
            {% set label = entity.name ~ ' ' ~ entity.fee ~ ' DT' %}
        {% endif %}
        {{ form_row(shippingMethod, {
            'label': label,
        }) }}
    {% endfor %}
{{ form_end(form) }}
<input type="submit" form="form" value="Suivant" class="btn btn-primary">

{% endblock %}
