
{% extends 'base.html.twig' %}

{% block contenpage %}
  <section class="s-crossfit">
            <div class="container">
                <h2>Search A Post !!</h2>

                <div class="sidebar-search">

                    <div class="input-group custom-search-form">

                        <input type="text" id="search" class="form-control" placeholder="Search here">
                    </div>
                    <!-- /input-group -->
                </div>
                <div class="row" id="all">
                    {% include 'admin/offres/offreajax.html.twig' %}
                </div>
                <div class="row" id="search">
                    
                </div>
                <br><br><br><br>
            </div>
        </section>
     <script src="{{ asset('assets/js/jquery.js') }}"></script>
     <script
             src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')}}">
     </script>
     <script>
         $( document ).ready(function() {
             var currentRequest = null;
             $("#search").keyup(function(e){
                 /* La variable value va prendre la valeur insérer dans le champ de texte
                 afin d’effectuer la recherche */
                 var value = $(this).val();
                 if(currentRequest != null) {
                     currentRequest.abort();
                 }
                 /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                 « search » pour faire la recherche */
                 currentRequest = $.ajax({
                       url : "{{ path('offreajax') }}",
                     type : 'GET',
                     data: {
                         'searchValue' : value
                     },
                     success : function(retour)
                     {
                         $('#all').html(retour);
                     },
                 });
                 return false;
             });
         });
     </script>
{% endblock %}